<style>
    .video-wrapper {
        width: 100%;       
        overflow: hidden;   
    }
    
    .video-wrapper video {
        width: 100%;        
        height: auto;       
        display: block;     
    }
</style>
    
<div class="video-wrapper">
    <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube-nocookie.com/embed/{{ include.video }}" 
        title="The SXWVN Video on YouTube (as private as I can get it)" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen>
    </iframe>
</div>